<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Intro SE331</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./assets/styles.css" />
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div id="app">
        <div class="nav-bar"></div>
        <div class="cart">Cart({{cart}})</div>
        <div class="product-display">
            <div class="product-container">
                <div class="product-image">
                    <img :src="image">
                </div>
            </div>
        </div>
        <div class="product-info">
            <a :href="url">{{product}}</a>
            <p v-if="inStock">In Stock</p>
            <p v-else>Out of Stock</p>
            <ul>
                <li v-for="detail in details">{{detail}}</li>
            </ul>
            <div v-for="variant in variants" :key="variant.id" @mouseover="updateImage(variant.image)">
                {{ variant.color}}
            </div>
            <div style="display: inline-block; margin-right: 5px;" v-for="size in sizes" :key="size.id">
                {{ size.size}}
            </div>
            <p v-if="onSale">Product is on sale</p>
            <p v-else>Product is not on sale</p>
            <button class="button" @click="addToCart">Add To Cart</button>
            <button class="button" @click="updateStockStatus">Toggle Status</button>
        </div>
    </div>

    <!-- Import Js -->
    <script src="./main.js"></script>
</body>

</html>